<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div class="jumbotron" style="background:transparent !important"></div>
        <div class="row">
            <div class="col-md-4">
                .col-md-4
            </div>
            <div class="col-md-8">.col-md-8</div>
        </div>
        <!-- todo -->
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>