<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <ul class="about">
            <li>
                <span class="left"><img width="250" height="200" src="../img/03.jpg" alt="Img"></span>
                <p>
                    This website template has been designed by for you, for free. You can replace all this text with your own text.&nbsp;You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
            </li>
            <li>
                <span class="right"><img width="250" height="200" src="../img/03.jpg" alt="Img"></span>
                <p>
                    This website template has been designed by for you, for free. You can replace all this text with your own text.&nbsp;You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
            </li>
            <li>
                <span class="left"><img width="250" height="200" src="../img/03.jpg" alt="Img"></span>
                <p>
                    This website template has been designed by for you, for free. You can replace all this text with your own text.&nbsp;You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
            </li>
            <li>
                <span class="right"><img width="250" height="200" src="../img/03.jpg" alt="Img"></span>
                <p>
                    This website template has been designed by for you, for free. You can replace all this text with your own text.&nbsp;You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
            </li>
            <li>
                <span class="left"><img width="250" height="200" src="../img/03.jpg" alt="Img"></span>
                <p>
                    This website template has been designed by for you, for free. You can replace all this text with your own text.&nbsp;You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                </p>
            </li>
        </ul>
        <!-- todo -->
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>