<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div id="page">
            \{foreach from=$allaboutData item=article\}
            <div class="post">
                <div>
                    <h2 class="title">
                        <a href="#">\{$article.title\}</a>
                    </h2>
                </div>
                <a href="#" id=featured-thumbnail>
                    <div class="featured-thumbnail">
                        <img width="250" height="200" src="http://140.116.82.48/shingnan/web/media/\{$article.path\}" alt="Img">
                    </div>
                </a>
                <div class="post-content">\{$article.preview\}</div>
                <div class="readMore">
                    <a href="#">繼續閱讀</a>
                </div>
            </div>
            \{/foreach\}
            <div class="post">
                \{$pagination\}
            </div>
        </div>
        <!-- todo -->
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>