<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div id="carouselBuy" class="carousel slide" data-ride="carousel" style="width: 80%; margin: 50px auto;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="img/cover.png" alt="First slide">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
                <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                    <img src="img/logo_2.png" style="width: 100%;">
                </div>
            </div>
        </div>
        <div class="row bg-darkpink" style="padding: 50px 50px 20px 50px;">
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="col-md-3" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                <img src="img/logo_2.png" style="width: 100%;">
            </div>
            <div class="offset-md-11 col-md-1" style="text-align: center; padding-top: 7.5px;">
                <a class="btn btn-secondary" href="#">...more</a>
            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>