<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="http://placehold.it/1920x720" alt="Big img">
        <!-- brand logo -->
        <div class="row p-5">
            \{foreach from=$brands item=$brand \}
            <div class="col-md-3 col-sm-6 col-xm-12 py-2">
                <a href="brandController.php?action=viewDetail&brandId=\{$brand['brandId']\}">
                    <img class="img-fluid w-100" src="\{if isset($brand['path'])\}\{$brand['path']\}\{else\}http://placehold.it/240x80\{/if\}">
                </a>
            </div>
            \{/foreach\}
        </div>
        <!-- glasses of brand -->
        <div class="brand-glasses w-100 p-4">
            <div class="row d-flex justify-content-between">
                \{for $i=1 to 8\}
                <div class="col-md-3 col-sm-6 col-xm-12 p-3">
                    <img class="img-fluid" src="http://placehold.it/400x320">
                </div>
                \{/for\}
                <div class="w-100"></div>
                <div class="col py-4 text-right">
                    <a class="btn-lg btn-secondary border-dark right-arrow" href="buyController.php?action=view">
                        <span class="mr-3">MORE</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>