<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div class="bg-darkpink w-100 p-5">
            <img class="bg-gray d-flex mx-auto img-fluid" style="width:240px; height: 60px;">
            <div class="row my-4">
                <img class="img-fluid col-8" src="../img/cover.png" style="height:250px;" alt="Big img">
                <p class="col-4">With hip hop music and style as its core themes, the ‘ESl Hip Hop’ blog makes learning fun. This is an ESL
                    blog that is powerfully entertaining and educational. You’ll be glad to know you don’t need to be a rapper
                    to be able to learn from it. Hip hop artists are known for their command of language and lyrical freedom.
                    This is well captured in these instructive posts. For example, there is a post on understanding the zero
                    conditional by examining one of M.I.A’s songs. The past perfect is explored through the songs of A Tribe
                    Called Quest. Many posts feature vocabulary lists, videos and picture dictionaries.</p>
            </div>
        </div>
        <!-- glasses of brand -->
        <div class="w-100 p-5">
            <div class="row">
                \{for $i=1 to 5\}
                <div class="col-md col-sm-6 col-xm-12 text-center">
                    <img class="img-fluid" src="../img/03.jpg">
                </div>
                \{/for\}
            </div>
            <!-- <div class="w-100 py-3"></div> -->
            <div class="row pt-4">
                <div class="col text-left" style="padding-top: 5px; padding-bottom: 5px;">
                    <a class="btn btn-secondary border-dark" href="brandController.php?action=view">
                        < BACK</a>
                </div>
                <div class="col text-right" style="padding-top: 5px; padding-bottom: 5px;">
                    <a class="btn btn-secondary border-dark" href="buyController.php?action=view">MORE ></a>
                </div>
            </div>

        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>