<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="../img/cover.png" alt="Big img">
        <div class="buy-class">選品牌</div>
        <div class="row mx-auto mb-3" style="width: 70%;">
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="w-100"></div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="w-100"></div>
            <div class="col" style="text-align: right; padding-top: 5px; padding-bottom: 5px;">
                <a class="btn btn-warning" href="#">...more</a>
            </div>
        </div>
        <div class="buy-class">經典復古</div>
        <div class="row mx-auto mb-3" style="width: 70%;">
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="w-100"></div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="col" style="padding: 5px;">
                <img class="rounded" src="../img/01.jpg" style="width: 100%;">
            </div>
            <div class="w-100"></div>
            <div class="col" style="text-align: right; padding-top: 5px; padding-bottom: 5px;">
                <a class="btn btn-warning" href="javascript:">...more</a>
            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>