<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="http://placehold.it/1920x720" alt="Big img">
        <div class="glasses-class-bar">選品牌</div>
        <div class="row mx-auto my-5" style="width: 70%;">
            \{foreach from=$brand_imgs item=$brand\}
            <div class="col-md-3 col-sm-6 col-xm-12 p-1">
                <img class="rounded" src="\{if isset($brand['path'])\}\{$brand['path']\}\{else\}../img/01.jpg\{/if\}" style="width: 100%;">
            </div>
            \{/foreach\}
            <div class="w-100"></div>
            <div class="col text-right p-1">
                <a class="btn btn-secondary border-dark" href="buyController.php?action=viewDetail">more</a>
                <!-- <button type="button" class="btn btn-secondary border-dark">more</button> -->
            </div>
        </div>
        \{foreach from=$styles item=style key=k\}
        <div class="glasses-class-bar">\{$k\}</div>
        <div class="row mx-auto my-5" style="width: 70%;">
            \{foreach from=$style item=img name=frameImg\}
            <div class="col-md-3 col-sm-6 col-xm-12 p-1">
                <img class="rounded" src="\{if isset($img['path'])\}\{$img['path']\}\{else\}http://placehold.it/400x400\{/if\}" style="width: 100%;">
            </div>
            \{/foreach\}
            <div class="col text-right p-1">
                <a class="btn btn-secondary border-dark" href="buyController.php?action=viewDetail&styleId=\{$style[0]['styleId']\}">more</a>
            </div>
        </div>
        \{/foreach\}
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>