<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="../img/cover.png" alt="Big img">
        <div class="row mx-auto" style="width: 90%;">
            <div class="sidebar col-md-4 mh-100 bg-darkpink mb-5">
                選品牌
            </div>
            <div class="col-md-8">
                <div class="text-center bg-darkpink">品牌名稱</div>
                <div class="row my-5">
                    <div class="col mx-100">
                        <img class="img-fluid" src="../img/03.jpg">
                    </div>
                    <div class="col mx-100">
                        <img class="img-fluid" src="../img/03.jpg">
                    </div>
                    <div class="col mx-100">
                        <img class="img-fluid" src="../img/03.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>