<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="http://placehold.it/1920x720" alt="Big img">
        <div class="row mx-auto" style="width: 90%;">
            <div class="col-3 mh-100 mb-5 text-center py-5 bg-light-white">
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    選品牌
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">型男風格</a>
                        <a href="#" class="list-group-item list-group-item-action">金士曼風格</a>
                        <a href="#" class="list-group-item list-group-item-action">少女風格</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">古典風格</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">文青風格</a>
                    </div>
                </div>
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample2">
                    型男風格
                </button>
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample3"
                    aria-expanded="false" aria-controls="collapseExample3">
                    金士曼風格
                </button>
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample4"
                    aria-expanded="false" aria-controls="collapseExample4">
                    少女風格
                </button>
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample5"
                    aria-expanded="false" aria-controls="collapseExample5">
                    古典風格
                </button>
            </div>
            <div class="col-9">
                <div class="text-center brand-glasses p-3">品牌名稱</div>
                <div class="row p-3">
                    \{for $i=1 to 9\}
                    <div class="w-100 col-md-4 col-sm-6 col-sm-12 p-0 text-center glasses-cell">
                        <!-- glasses image -->
                        <img class="img-fluid" src="http://placehold.it/270x145">
                        <!-- glasses text -->
                        <p style="height: 167px;">眼鏡文字描述</p>
                    </div>
                    \{/for\}
                </div>

            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>