<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <img class="img-fluid p-5" src="http://placehold.it/1920x720" alt="Big img">
        <div class="row mx-auto" style="width: 90%;">
            <div class="col-3 mh-100 mb-5 text-center py-5 bg-light-white">
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseBrand"
                    aria-expanded="false" aria-controls="collapseBrand">
                    選品牌
                </button>
                <div class="collapse" id="collapseBrand">
                    <div class="list-group">
                        \{foreach from=$styles item=style\}
                        <a href="buyController.php?action=viewDetail&style=\{$style['styleName']\}" class="list-group-item list-group-item-action">\{$style['styleName']\}</a>
                        \{/foreach\}
                    </div>
                </div>
                \{foreach from=$styles item=style\}
                <button class="btn btn-secondary border-dark w-75 my-3" type="button" data-toggle="collapse" data-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample2" onclick="btn_style('\{$style['styleName']\}')">
                    \{$style['styleName']\}
                </button>
                \{/foreach\}
            </div>
            <div class="col-9">
                <div class="text-center brand-glasses p-3">品牌名稱</div>
                <div id="g-parent" class="row p-3 d-flex justify-content-center">
                    \{for $i=1 to 9\}
                    <div class="w-100 col-md-4 col-sm-6 col-xm-12 p-0 text-center glasses-cell">
                        <!-- glasses image -->
                        <img class="img-fluid" src="http://placehold.it/270x145">
                        <!-- glasses text -->
                        <p style="height: 167px;">
                            <!-- <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></button> -->
                            <a data-toggle="collapse" href="#collapse\{$i\}">眼鏡文字描述</a>
                        </p>
                    </div>
                    \{if $i % 3 == 0\}
                    <div id="collapse\{$i-2\}" class="row w-100 collapse p-3 hr-1">
                        \{include file="glasses_info.html"\}
                    </div>
                    <div id="collapse\{$i-1\}" class="row w-100 collapse p-3 hr-1">
                        \{include file="glasses_info.html"\}
                    </div>
                    <div id="collapse\{$i\}" class="row w-100 collapse p-3 hr-1">
                        \{include file="glasses_info.html"\}
                    </div>
                    \{/if\} \{/for\}
                </div>

            </div>
        </div>
        <!-- got top button -->
        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
    <script>
        var $myGroup = $('#g-parent');
        $myGroup.on('show.bs.collapse', '.collapse', function () {
            $myGroup.find('.collapse.show').collapse('hide');
        });

        function btn_style(styleName) {
            document.location.href = "buyController.php?action=viewDetail&style=" + styleName;
        }
    </script>
</body>

</html>