<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div id="page">
            \{foreach from=$alleducationData item=article\}
            <article class="post">
                <header>
                    <h2 class="title">
                        <a href="#">\{$article.title\}</a>
                    </h2>
                </header>
                <a href="#" id=featured-thumbnail>
                    <div class="featured-thumbnail">
                        <img width="250" height="200" src="http://140.116.82.48/shingnan/web/media/\{$article.path\}" alt="Img">
                    </div>
                </a>
                <div class="post-content">
                    \{$article.preview\}
                </div>
                <div class="readMore">
                    <a href="#">繼續閱讀</a>
                </div>
            </article>
            \{/foreach\}
            <!-- todo -->
        </div>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>