<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body class="dark-theme">
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div class="container">
            <div id="page">
                \{foreach from=$alleducationData item=article\}
                <div class="post">
                    <div>
                        <h2 class="title">
                        <a href="educationController.php?action=viewContent&id=\{$article.articleId\}">\{$article.title\}</a>
                    </h2>
                    </div>
                    <a href="educationController.php?action=viewContent&id=\{$article.articleId\}" id=featured-thumbnail>
                        <div class="featured-thumbnail">
                            <img width="250" height="200" src="\{$article.path\}" alt="Img">
                        </div>
                    </a>
                    <div class="post-content">\{$article.preview\}</div>
                    <div class="readMore">
                        <a href="educationController.php?action=viewContent&id=\{$article.articleId\}">繼續閱讀</a>
                    </div>
                </div>
                \{/foreach\}
                <div class="pagelink">
                    \{$pagination\}
                </div>
            </div>
        </div>
        <!-- todo -->
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>