<!DOCTYPE html>
<html>

<head>
  \{include file="common/resource.html"\}
</head>

<body>
  <div class="container-fluid content p-0">
    <!-- navigationbar -->
    \{include file="common/navigationbar.html"\}
    <!-- main-content -->
    <!-- carousel -->
    <div id="carouselCover" class="carousel slide mw-100" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselCover" data-slide-to="0" class="active carousel-circle"></li>
        <li data-target="#carouselCover" data-slide-to="1" class="carousel-circle"></li>
        <li data-target="#carouselCover" data-slide-to="2" class="carousel-circle"></li>
        <li data-target="#carouselCover" data-slide-to="3" class="carousel-circle"></li>
        <li data-target="#carouselCover" data-slide-to="4" class="carousel-circle"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
          <!-- <img class="d-block img-fluid" src="\{if empty($images['index_img_0'])\}\{$images['index_img_0']\}\{else\}../img/cover.png\{/if\}"> -->
        </div>
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1024')">
          <!-- <img class="d-block img-fluid" src="\{if empty($images['index_img_1'])\}\{$images['index_img_1']\}\{else\}../img/cover.png\{/if\}"> -->
        </div>
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x900')">
          <!-- <img class="d-block img-fluid" src="\{if empty($images['index_img_2'])\}\{$images['index_img_2']\}\{else\}../img/cover.png\{/if\}"> -->
        </div>
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x840')">
        </div>
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x720')">
        </div>
      </div>
    </div>
    <!-- image gallery -->
    <div class="row-cus">
      \{for $i = 3 to 22\}
      <div class="column">
        <img class="img-fluid w-100" src="\{if $images[index_img_|cat:$i]\}\{$images[index_img_|cat:$i]\}\{else\}../img/01.jpg\{/if\}">
        <div class="gallery-overlay">
          <p class="gallery-text">\{if isset($images[index_img_|cat:$i]) and $images[index_img_|cat:$i].link neq ''\}\{$images[index_img_|cat:$i].link\}\{else\}尚無描述\{/if\}</p>
        </div>
      </div>
      \{/for\}
    </div>
    <!-- got top button -->
    <button id="go-top-btn">TOP</button>
  </div>
  <!-- footer -->
  \{include file="common/footer.html"\}
</body>

</html>