<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>

<body>
    <div class="container-fluid content p-0">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-thumbnail" style="height: 225px; width: 100%; display: block;" >
                            <div class="card-body">
                            	<h4 class="card-title">標題</h4>
                                <p class="card-text">內容</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- todo -->
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>