<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>
<style>
    tr.collapse.in {
        display: table-row;
    }
</style>

<script>
    // $(document).ready(function () {
    //     $("#table").load(location.href + " #table");
    // });

</script>

<body>
    <div class="container-fluid content px-1 mx-1">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->
        \{if $msg == 'failure'\}
        <div class="alert alert-warning alert-dismissable text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 style="display: inline;">\{$error\}</h4>
        </div>
        \{/if\}
        <div class="mx-auto mt-5"  style="width:60%">
            <sub style="color: red">目前提供一年內的交易紀錄</sub>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>訂單編號</th>
                        <th>訂購時間</th>
                        <th>價格</th>
                        <th>狀態處理</th>
                    </tr>
                </thead>
                <tbody>
                    \{foreach from=$allTrans item=singleTran\}
                    <tr data-toggle="collapse" data-target=".\{$singleTran[" tranId "]\}">
                        <td>+</td>
                        <td>\{$singleTran["tranId"]\}</td>
                        <td>\{$singleTran["createTime"]\}</td>
                        <td>\{$singleTran["price"]\}</td>
                        <td>\{$singleTran["checkState"]\}</td>

                    </tr>

                    <tr class="collapse \{$singleTran[" tranId "]\}">
                        <td colspan="5">
                            \{foreach from=$singleTran["tranDetail"] item=singleItem\} \{$singleItem["itemName"]\} * \{$singleItem["itemNum"]\} &nbsp;&nbsp;
                            \{/foreach\}
                        </td>
                    </tr>
                    \{/foreach\}



                </tbody>
            </table>
        </div>




        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>


</html>