<!DOCTYPE html>
<html>

<head>
    \{include file="common/resource.html"\}
</head>
<style>
</style>

<body>
    <div class="container-fluid content px-1 mx-1">
        <!-- navigationbar -->
        \{include file="common/navigationbar.html"\}
        <!-- main-content -->

        <table class="table mx-auto" style="width:60%">

            <tbody>
                <tr class>
                    <th scope="row" class="w=25" style="">會員資料</th>
                    <td class="w-75">Mark</td>

                </tr>
                <tr>
                    <th scope="row">姓名</th>
                    <td>Jacob</td>
 
                </tr>
                <tr>
                    <th scope="row">手機號碼</th>
                    <td>Larry</td>

                </tr>
                <tr>
                    <th scope="row">寄件地址</th>
                    <td>Larry</td>
 
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>


        <button id="go-top-btn">TOP</button>
    </div>
    <!-- footer -->
    \{include file="common/footer.html"\}
</body>

</html>