body {
    line-height: 23px;
    display: flex;
    color: #555555;
    min-height: 100vh;
    flex-direction: column;
    background: #333333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

footer {
    width: 100%;
}
.content {
    flex: 1;
    margin-top: 61px;
}

.index-content {
    flex: 1;
}

.text-black {
    color: black;
}

/* 水平分割線 */
.hr-seperate {
    border: 1px solid white;
}

.hr-seperate-2 {
    padding-top: 50px;
    border: 1px solid #333333;
}

/* 梯形高度 */
.trapezoidal {
    height: 1000px;
}

.trapezoidal-1 {
    float:left;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 602px;
}

.trapezoidal-1 .img-1 {
    width: 100%;
    height: 794px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
}

.trapezoidal-1 .img-2 {
    width: 100%;
    height: 794px;
    margin-top: -602px;
    -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
}

.trapezoidal-2 {
    float:right;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 602px;
}

.trapezoidal-2 .img-1 {
    width: 100%;
    height: 794px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
}

.trapezoidal-2 .img-2 {
    width: 100%;
    height: 794px;
    margin-top: -602px;
    -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
}

.trapezoidal-3 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 602px;
}

.trapezoidal-3 img{
    height: 100%;
    width: 100%;
}


/* 背景顏色 */
.bg-gray {
    background-color: #5a5a5a;
}

.bg-gray2 {
    background-color: #333333;
}

.bg-gray3 {
    background-color: #59524a;
}

.bg-black {
    background-color: #000;
}

.bg-yellow {
    background-color: #f5ac51;
}

.bg-light2 {
    background-color: #eeeeee;
}

.bg-darkpink {
    background-color: #d3bbc5;
}

/* 改變導覽列 icon 圖 */
.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.2);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 導覽列固定上方 */
.fixed-top2 {
    margin-top: 61px;
}
/* 導覽列文字往下滑動 */
.nav-link-text {
    height: 37px;
    overflow: hidden;
}
.nav-link-text span {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.nav-link-text, .nav-span {
    transition: 0.3s;
}
.nav-span {
    margin-top: -30px;
    line-height: 28px;
}
.nav-link-text:hover .nav-span {
    margin-top: 0px;
}

/* 首頁畫廊 */
.gallery-size {
    height: 1900px;
    width:95%;
}
.cell-gallery-1 {
    width:200px;
    height: 475px;
    margin-top: 320px;
}

.cell-gallery-2 {
    width:200px;
    height: 460px;
    margin-top: 320px;
}

.cell-gallery-3 {
    width:260px;
    height: 400px;
    margin-top: 20px;
}

.cell-gallery-4 {
    width:250px;
    height: 240px;
    margin-top: 60px;
}


/* 首頁圖片投影片 */
.carousel-item {
    height: 100vh;
    /* min-height: 300px; */
    background-image: url('../img/cover.png');
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-circle{
    max-width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #f5ac51 !important;  
}
.carousel-indicators .active {
    background-color: #ffff99 !important;
}

/* 回到最上面按鈕 */
#go-top-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20%; /* Place the button at the bottom of the page */
    right: 2%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: rgba(0, 0, 0, 0.6);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#go-top-btn:hover {
    background: rgba(0, 0, 0, 0.9);
}
/* 圖片畫廊 */
.row-cus {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
    width: 80%;
}

/* 1 row = 5 cols */
.column {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
}

.column img {
    opacity: 1;
    vertical-align: middle;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gallery-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-text {
    color: blue;
    font-size: 18px;
}

.column:hover img {
    opacity: 0.6;
}

.column:hover .gallery-overlay {
    opacity: 1;
}

/* 眼鏡選購類別 */
.buy-class {
    width: 30%;
    background-color: #dddddd;
    height: 40px;
    text-align: right;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.more {
    text-align: right;
}

@media (max-width: 1395px) {
    /* 首頁畫廊 0.9*/
    .gallery-size {
        height: 1700px;
    }
    .cell-gallery-1 {
        width: 180px;
        height: 427px;
        margin-top: 285px;
    }

    .cell-gallery-2 {
        width: 180px;
        height: 414px;
        margin-top: 285px;
    }

    .cell-gallery-3 {
        width:234px;
        height: 360px;
        margin-top: 18px;
    }

    .cell-gallery-4 {
        width:225px;
        height: 216px;
        margin-top: 54px;
    }

    /* 梯形高度 */
    .trapezoidal {
        height: 525px;
    }

    .trapezoidal-1 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 301px;
    }

    .trapezoidal-1 .img-1 {
        width: 100%;
        height: 397px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    }

    .trapezoidal-1 .img-2 {
        width: 100%;
        height: 397px;
        margin-top: -301px;
        -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    }

    .trapezoidal-2 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 301px;
    }

    .trapezoidal-2 .img-1 {
        width: 100%;
        height: 397px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    }

    .trapezoidal-2 .img-2 {
        width: 100%;
        height: 397px;
        margin-top: -301px;
        -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    }

    .trapezoidal-3 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 301px;
    }
}

/* 1 row = 4 cols */
@media (max-width: 1000px) {
    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }

    /* 首頁畫廊 0.75*/
    .gallery-size {
        height: 1425px;
    }
    .cell-gallery-1 {
        width: 150px;
        height: 356px;
        margin-top: 240px;
    }

    .cell-gallery-2 {
        width: 150px;
        height: 345px;
        margin-top: 240px;
    }

    .cell-gallery-3 {
        width: 195px;
        height: 300px;
        margin-top: 15px;
    }

    .cell-gallery-4 {
        width: 187px;
        height: 180px;
        margin-top: 45px;
    }

    /* 梯形高度 */
    .trapezoidal {
        height: 363px;
    }

    .trapezoidal-1 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 240px;
    }

    .trapezoidal-1 .img-1 {
        width: 100%;
        height: 317px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    }

    .trapezoidal-1 .img-2 {
        width: 100%;
        height: 317px;
        margin-top: -317px;
        -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    }

    .trapezoidal-2 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 240px;
    }

    .trapezoidal-2 .img-1 {
        width: 100%;
        height: 317px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    }

    .trapezoidal-2 .img-2 {
        width: 100%;
        height: 317px;
        margin-top: -317px;
        -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    }

    .trapezoidal-3 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 240px;
    }
}

/* 1 row = 2 cols */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .gallery-text {
        font-size: 22px;
    }

    /* 首頁畫廊 0.6*/
    .gallery-size {
        height: 1140px;
    }
    .cell-gallery-1 {
        width: 120px;
        height: 285px;
        margin-top: 192px;
    }

    .cell-gallery-2 {
        width: 120px;
        height: 276px;
        margin-top: 192px;
    }

    .cell-gallery-3 {
        width: 156px;
        height: 240px;
        margin-top: 12px;
    }

    .cell-gallery-4 {
        width: 150px;
        height: 144px;
        margin-top: 36px;
    }

    /* 梯形高度 */
    .trapezoidal {
        height: 244px;
    }

    .trapezoidal-1 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 150px;
    }

    .trapezoidal-1 .img-1 {
        width: 100%;
        height: 198px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    }

    .trapezoidal-1 .img-2 {
        width: 100%;
        height: 198px;
        margin-top: -198px;
        -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    }

    .trapezoidal-2 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 150px;
    }

    .trapezoidal-2 .img-1 {
        width: 100%;
        height: 198px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    }

    .trapezoidal-2 .img-2 {
        width: 100%;
        height: 198px;
        margin-top: -198px;
        -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    }

    .trapezoidal-3 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 150px;
    }
}

/* 1 row = 1 col */
@media (max-width: 480px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .gallery-text {
        font-size: 24px;
    }

    /* 首頁畫廊 0.3*/
    .gallery-size {
        height: 570px;
    }
    .cell-gallery-1 {
        width: 40px;
        height: 95px;
        margin-top: 96px;
    }

    .cell-gallery-2 {
        width: 40px;
        height: 92px;
        margin-top: 96px;
    }

    .cell-gallery-3 {
        width: 52px;
        height: 80px;
        margin-top: 6px;
    }

    .cell-gallery-4 {
        width: 50px;
        height: 48px;
        margin-top: 18px;
    }

    /* 梯形高度 */
    .trapezoidal {
        height: 200px;
    }

    .trapezoidal-1 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 90px;
    }

    .trapezoidal-1 .img-1 {
        width: 100%;
        height: 119px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    }

    .trapezoidal-1 .img-2 {
        width: 100%;
        height: 119px;
        margin-top: -119px;
        -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    }

    .trapezoidal-2 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 90px;
    }

    .trapezoidal-2 .img-1 {
        width: 100%;
        height: 119px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    }

    .trapezoidal-2 .img-2 {
        width: 100%;
        height: 119px;
        margin-top: -119px;
        -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    }

    .trapezoidal-3 {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 90px;
    }
}

/* article class */

#page{
    margin: 0 auto;
    /*max-width: 1050px;*/
    min-width: 60vw;
    min-height: 100px;

    padding-top: 45px;
    float: none;
    clear: both;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.post{
    width: 100%;
    margin: 0 auto;
    float: left;
    clear: both;
    margin-bottom: 30px;
    background-color: #333333;
    padding: 20px;
    border: 1px solid #cdcdcd;
}

.title{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    clear: both;
}
.title a { color: #fff }


.featured-thumbnail{
    max-width: 250px;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 5px;
}
#featured-thumbnail {
    float: left;
    max-width: 250px;
    width: 50%;
    margin-right: 25px;
}


.post-content
{
    margin-left: 270px;
    color: #fff;
}

.readMore {
    float: right;
    margin-top: 20px;
}
.readMore a {
    background-color: #EA141F;
    color: #fff;
    padding: 5px 12px;
    transition: all 0.25s linear;
    font-family: 'Monda', sans-serif;
}
.readMore a:hover {
    color: #fff;
    background: #222222;
}

