<footer class="bg-yellow pb-3 pt-5">
    <div class="d-flex justify-content-around align-items-center bg-gray2 py-3">
        <img src="../img/logo_2.png" style="height: 90px;">
        \{foreach from=$stores item=store \}
            <div style="color: #ffffff; font-size: 16px;">【\{$store['storeName']\}】
            <br>地址: \{$store['address']\}
            <br>TEL: \{$store['phoneNumber']\}</div>
        \{/foreach\}
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="../plugins/tether/js/tether.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 100) {        // If page is scrolled more than 100px
                $('#go-top-btn').fadeIn(200);    // Fade in the arrow
            } else {
                $('#go-top-btn').fadeOut(200);   // Else fade out the arrow
            }
        });

        $('#go-top-btn').click(function () {      // When arrow is clicked
            $('body, html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        });
    });
</script>